appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
CacheControl==0.14.1
Django==4.2.16
django-allauth==65.1.0
django-mongoengine==0.5.6
django-restframework==0.0.1
djangorestframework==3.15.2
dnspython==2.7.0
firebase-admin==6.5.0
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
grpcio==1.67.1
grpcio-status==1.67.1
gunicorn==23.0.0
httplib2==0.22.0
jsonpointer==2.1
matplotlib==3.9.2
mkl-service==2.4.0
mongoengine==0.29.1
proto-plus==1.25.0
protobuf==5.28.3
psycopg2==2.9.10
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
pymongo==4.10.1
pyTelegramBotAPI==4.23.0
railway==0.0.4
rsa==4.9
setuptools==75.1.0
sqlparse==0.5.1
telebot==0.0.5
uritemplate==4.1.1
wheel==0.44.0
whitenoise==6.7.0

